<h1><%= Date.current.month %>月のカレンダー</h1>
  <h2>
    <% calender = Calender.find_by(id: @calender_id) %>
    <%= calender.name %>
  </h2>
  <%= form_tag("/calenders/schedule/#{calender.id}",method: :get) do %>
    <% @days.each do |day| %>
      <p>
        <%= day %>
        <%= check_box "check", "#{day}" %>無理
        <%# select_tag "hour", "#{day}", options_for_select(["18","19","20","21","22"]) %>
        <%# select_tag "min", "#{day}", options_for_select(["00","15","30","45"]) %>
      </p>
    <% end %>
    <input type="submit" value="投稿">
  <% end %>
